---
- name: Try to hard-delete VM {{ current_vm.id }} with every account
  community.general.one_vm:
    api_url: "{{ api_url }}"
    api_username: "{{ item.value.user }}"
    api_password: "{{ item.value.password }}"
    instance_ids:
      - "{{ current_vm.id }}"
    state: absent
    wait: true
    wait_timeout: 300
  loop: "{{ one_creds.opennebula_accounts | dict2items }}"
  loop_control:
    loop_var: item
    label: "Trying account {{ item.key }}"
  register: delete_result
  ignore_errors: true
  no_log: true   # change to true if you don't want passwords visible

- name: Confirm success
  ansible.builtin.set_fact:
    deleted: >-
      {{ delete_result.results is defined and
         delete_result.results | selectattr('failed', 'equalto', false) | list | length > 0 }}

- name: Fail if no account could delete the VM
  ansible.builtin.fail:
    msg: "VM {{ current_vm.id }} ({{ current_vm.name }}) could NOT be deleted by any account!"
  when: not deleted

- name: Success message
  ansible.builtin.debug:
    msg: "VM {{ current_vm.id }} ({{ current_vm.name }}) DELETED successfully using account '{{ delete_result.results | rejectattr('failed') | map(attribute='item') | map(attribute='key') | first }}'"
  when: deleted